<body>
  <div class="panel-container">
    <div>
      <a href="/" class="button back-link">..</a>
    </div>
    <br><br>
    <h1>Learnings (Two)</h1>
    <br>
    <p>
      <a href="/two/sierpenski_points">Sierpenski Points</a>
    </p>
    <br>
    <p>
      <a href="/two/sierpenski_triangles">Sierpenski 2D Triangles</a>
    </p>
  </div>
</body>