<body onload="webgl.three.cad.init()">
<script id="vertex-shader" type="x-shader/x-vertex">
  attribute vec4 vPosition;
  attribute vec4 vColor;

  varying vec4 fColor;

  void main()
  {
    gl_Position = vPosition;
    fColor = vColor;
  }
</script>

<script id="fragment-shader" type="x-shader/x-fragment">
  precision mediump float;

  varying vec4 fColor;
  void main()
  {
      gl_FragColor = fColor;
  }
</script>

  <div class="panel-container">
    <div>
      <a href="/three" class="button back-link">..</a>
    </div>
    <br><br>
    <h1>Learnings (Three : CAD)</h1>
    <br>
    <div>
    <select id = "mymenu">
      <option value = "0">Black</option>
      <option value = "1">Red</option>
      <option value = "2">Yellow</option>
      <option value = "3">Green</option>
      <option value = "4">Blue</option>
      <option value = "5">Magenta</option>
      <option value = "6">Cyan</option>
    </select>
    <div>
    <br>
    <div>
    <button id="ui-render-button">Draw Polygon</button>
    <div>
    <br>
<canvas id="gl-canvas" width="512" height="512"></canvas>
<div style="display:inline-block">
  <h3>Points</h3>
  <br>
  <ul id="ui-points">
  </ul>
</div>
</div>
</body>