<body onload="webgl.four.rotating_cube.init()">
 <script id="ui-fragment-shader" type="x-shader/x-fragment">
    precision mediump float;
    varying vec4 color;

    void main() {
      gl_FragColor = color;
    }
  </script>
  <script id="ui-vertex-shader" type="x-shader/x-vertex">
    attribute vec4 vPosition;
    attribute vec4 vColor;
    varying vec4 color;
    uniform vec3 theta;

    void main() {
      vec3 angles = radians(theta);
      vec3 c = cos(angles);
      vec3 s = sin(angles);

      mat4 rx = mat4(1.0, 0.0, 0.0, 0.0,
                     0.0, c.x, s.x, 0.0,
                     0.0, -s.x, c.x, 0.0,
                     0.0, 0.0, 0.0, 1.0);

      mat4 ry = mat4(c.y, 0.0, -s.y, 0.0,
                     0.0, 1.0, 0.0, 0.0,
                     s.y, 0.0, c.y, 0.0,
                     0.0, 0.0, 0.0, 1.0);

      mat4 rz = mat4(c.z, -s.z, 0.0, 0.0,
                     s.z, c.z, 0.0, 0.0,
                     0.0, 0.0, 1.0, 0.0,
                     0.0, 0.0, 0.0, 1.0);

      color = vColor;
      gl_Position = rz * ry * rx * vPosition;
    }
  </script>
  <div class="panel-container">
    <div>
      <a href="/four" class="button back-link">..</a>
    </div>
    <br><br>
    <h1>Learnings (Four : Rotating Cube)</h1>
    <br>
    <div>
      <button id="ui-button-x">Rotate X</button>
      <button id="ui-button-y">Rotate Y</button>
      <button id="ui-button-z">Rotate Z</button>
    </div>
    <br>
    <canvas id="ui-canvas"></canvas>
  </div>
</body>