<!DOCTYPE html>
<html>
<head>
  <title>Learnings (WebGL)</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body onload="init()">

<canvas id="ui-canvas" width="640" height="480">
  Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
</canvas>

</body>
</html>
